@{
	TempData.Keep();
	string? currentPage =  ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

	@* ! Hide app brand if navbar-full *@
	<div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
		<a asp-controller="Home" asp-action="Index" class="app-brand-link">
			<span class="app-brand-logo demo">
				@await Html.PartialAsync("../_Partials/_Macros")
			</span>
			<span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
		</a>

		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
			<i class="ti menu-toggle-icon d-none d-xl-block align-middle"></i>
			<i class="ti ti-x d-block d-xl-none ti-md align-middle"></i>
		</a>
	</div>

	<div class="menu-inner-shadow"></div>

	@* ! Starter Kit menu-items *@
	<ul class="menu-inner py-1">
		@if (User.IsInRole("super_admin"))
		{
			<li class='menu-item@(currentPage == "/students" ? " active" : "")'>
				<a asp-controller="students" asp-action="Index" class="menu-link">
					<i class="menu-icon tf-icons ti ti-smart-home"></i>
					<div data-i18n="Students">Students</div>
				</a>
			</li>


			<li class='menu-item@(currentPage == "/staff" ? " active" : "")'>
				<a asp-controller="staff" asp-action="Index" class="menu-link">
				  <i class="menu-icon tf-icons ti ti-app-window"></i>
				  <div data-i18n="Staff">Staff</div>
			  </a>
			</li>
		}
		<li class='menu-item@(currentPage == "/Branches" ? " active" : "")'>
			<a asp-controller="Branches" asp-action="Index" class="menu-link">
				<i class="menu-icon tf-icons ti ti-building-bank"></i>
				<div data-i18n="Branches">Branches</div>
			</a>
		</li>

		<li class='menu-item@(currentPage == "/Departments" ? " active" : "")'>
			<a asp-controller="Departments" asp-action="Index" class="menu-link">
				<i class="menu-icon tf-icons ti ti-building-arch"></i>
				<div data-i18n="Departments">Departments</div>
			</a>
		</li>
		<li class='menu-item@(currentPage == "/Courses" ? " active" : "")'>
			<a asp-controller="Courses" asp-action="Index" class="menu-link">
				<i class="menu-icon tf-icons ti ti-notebook"></i>
				<div data-i18n="Courses">Courses</div>
			</a>
		</li>

		<li class='menu-item@(currentPage == "/Topics" ? " active" : "")'>
			<a asp-controller="Topics" asp-action="Index" class="menu-link">
				<i class="menu-icon tf-icons ti ti-list-details"></i>
				<div data-i18n="Topics">Topics</div>
			</a>
		</li>


		@*Instructors Menu Items*@
		@if (true)
		{
			<li class='menu-item@(currentPage.StartsWith("/Pools")? " active open" : "")'>
				<a href="javascript:void(0);" class="menu-link menu-toggle">
					<i class="menu-icon tf-icons ti ti-list-details"></i>
					<div data-i18n="Exam Pools">Exam Pools</div>

				</a>
				<ul class="menu-sub">
					<li class='menu-item@(currentPage == "/Pools/Active" ? " active" : "")'>
						<a asp-controller="Pools" asp-action="Active" class="menu-link">
							<div data-i18n="Active Pools">Active Pools</div>
							<div class="badge bg-warning rounded-pill ms-auto">2</div>
						</a>
					</li>
					<li class='menu-item@(currentPage == "/Pools" ? " active" : "")'>
						<a asp-controller="Pools" asp-action="Processed" class="menu-link">
							<div data-i18n="Processed Pools">Processed Pools</div>
							<div class="badge bg-success rounded-pill ms-auto">3</div>
						</a>
					</li>
				</ul>
			</li>
		}

  </ul>

</aside>
<!-- / Menu -->
