@model ChangePasswordViewModel

<!-- Change Password -->
<div class="card mb-6">
	<h5 class="card-header">Change Password</h5>
	<div class="card-body pt-1">
		<form id="formAccountSettings2" method="POST" asp-action="ChangePassword" onsubmit="return false">
			<div class="row">
				<div class="mb-6 col-md-6 form-password-toggle">
					<label class="form-label" asp-for="OldPassword">Current Password</label>
					<div class="input-group input-group-merge">
						<input class="form-control" type="password" asp-for="OldPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
						<span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
					</div>
						<span asp-validation-for="OldPassword"></span>
				</div>
			</div>
			<div class="row">
				<div class="mb-6 col-md-6 form-password-toggle">
					<label class="form-label" asp-for="NewPassword">New Password</label>
					<div class="input-group input-group-merge">
						<input class="form-control" type="password" asp-for="NewPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
						<span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
					</div>
						<span asp-validation-for="NewPassword"></span>
				</div>

				<div class="mb-6 col-md-6 form-password-toggle">
					<label class="form-label" asp-for="ConfirmNewPassword">Confirm New Password</label>
					<div class="input-group input-group-merge">
						<input class="form-control" type="password" asp-for="ConfirmNewPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
						<span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
					</div>
						<span asp-validation-for="ConfirmNewPassword"></span>
				</div>
			</div>
			<h6 class="text-body">Password Requirements:</h6>
			<ul class="ps-4 mb-0">
				<li class="mb-4">Minimum 8 characters long - the more, the better</li>
				<li class="mb-4">At least one lowercase character</li>
				<li>At least one number, symbol, or whitespace character</li>
			</ul>
			<div class="mt-6">
				<button type="submit"  id="submitBtn2" class="btn btn-primary me-3">Save changes</button>
				<button type="reset" class="btn btn-label-secondary">Reset</button>
			</div>
		</form>
	</div>
</div>
<!--/ Change Password -->
