@model AccountEditViewModel

<div class="d-flex align-items-start align-items-sm-center gap-6">
	<img src="@Model.ImageURL" alt="user-avatar" class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar" />
	<div class="button-wrapper">
		<label for="upload" class="btn btn-primary me-3 mb-4" tabindex="0">
			<span class="d-none d-sm-block">Upload new photo</span>
			<i class="ti ti-upload d-block d-sm-none"></i>
			<input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
		</label>

		<button type="button" class="btn btn-label-secondary account-image-reset mb-4" id="resetButton">
			<i class="ti ti-refresh-dot d-block d-sm-none"></i>
			<span class="d-none d-sm-block">Reset</span>
		</button>

		<button type="button" class="btn btn-danger mb-4" id="removeButton">
			<i class="ti ti-trash d-block d-sm-none"></i>
			<span class="d-none d-sm-block">Remove</span>
		</button>

		<div>Allowed JPG, GIF or PNG. Max size of 800K</div>
	</div>
</div>
